html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     --text-color: rgb(77, 77, 77);
    --placeholder: rgb(136, 136, 136);
    --borders: rgb(179, 135, 24);
    --border-bottom: rgba(175, 132, 24, 0.322);
    --td: rgb(253, 253, 253);
    --form: rgb(233, 231, 231);
    --form-header: rgb(204, 203, 203);
   

}
body {
    /* font-size: 20px; */
    margin: auto;
    background-color: #fff;
    width: 80vw;
}
h1 {
    font-size: 2.5rem;
    color: #000;
}

form {
    position: relative;
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    height: 800px;
    /* Form outline */
    padding: 1em;
    border: 1px solid transparent;
    /* border-radius: 1em; */
    background-color: var(--form);
    color: #000;
    
}

::placeholder{
    color: var(--placeholder);
}

fieldset {
    position: absolute;
    left: 50px;
    /* top:60px; */
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    border-style: none;
}

/* form li + li {
    margin-top: 1em;
} */

legend {
    display: block;
    height: 50px;
    /* right: 60px; */
    /* background-color: var(--form-header); */
    width: 100%;
    position: relative;
    /* bottom: 110px; */
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 2px;
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
    /* Uniform size and aligment */
    display: inline-block;
    width: 140px;
    text-align: right;
    color: #000;
    /* padding-left: 10px; */
    font-family: 'Gill Sans',sans-serif;
    font-weight: normal;
    font-size: .85em;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-right: 10px;
}

form input,
fieldset select,
fieldset textarea {
    margin-top: 1.5em;
}

input,
select,
textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
     font: 1em san-serif;
      /* Uniform text field size */
      width: 300px;
      margin: auto 5px;
      padding: 20px;

      box-sizing: border-box;
      /* Match form field borders */
      border: 1px solid#999;
}
input,
select {
    height: 35px;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border: 1px solid #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: middle;
    /* Provide space to type some text */
    height: 10em;
}
.label-msg {
    position: relative;
    /* vertical-align: middle; */
    /* top: 30px; */
}
button {
    /* Align buttons with the text fields */
    padding: auto;/* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
     margin-left: 7.1em;
    
}

























/* 
/* General */
/* table {
    border: 3px solid var(--borders);
    width: 600px;
    height: 400px;
    font-size: 1rem;
    margin: auto;
}
tr {
    font-size: 1rem;
    text-align: center;
}
td {
    border-bottom:3px solid var(--border-bottom);
    background-color: var(--td);
    font-size: 1.3rem;
    color: var(--borders);
}

h2 {
    text-align: center;
} */ */