@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* h1 font-family */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script:wght@400&display=swap');

/* h3 */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Cutive&family=Petit+Formal+Script&display=swap');

/* General */

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    background-color: #fff;
    --first-color: rgb(255, 243, 243);
    --borders: rgb(184, 184, 184);
    --linear-color: linear-gradient(205deg,   rgb(42, 42, 42), rgb(54, 54, 54),  rgba(19, 56, 68, 0.678), black);
    
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 80%vw;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

/* Text  */
h1,
h2 {
    font-size: 3em;
    font-family: 'Newsreader', serif;
    margin-left: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.div-h3 h3 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: bolder;
}

.div-h3 .p1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Courgette', cursive;
    opacity: 0.5;
}

.p2 span {
    font-size: 1.6rem;
    text-transform: capitalize;
}
.p2 strong {
    opacity: 0.85;
    color: red;
}

/* images */

.images2 {
    width: 70px;
    height: 65px;
    border-radius: 50%;
}

header .images2 {
    margin-left: 20px;
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    
}

.menu-icon div {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 3px 0px;
    

}
/* flex */

.main-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-top: 1px solid var(--borders);
    border-bottom: 1px solid var(--borders);
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-right {

    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 20px;
}

.top-right p:nth-child(2),
.top-right p:nth-child(3) {
    border: 2px solid black;
    padding: 10px 8px;
    border-radius: 10px;
}

.top-right p:nth-child(2) {
    border-color: rgb(253, 0, 0);
}

.p1 a {
    color: rgb(253, 0, 0);
}

.p2 a {
    color: rgb(31, 195, 195);
}

.top-right p:nth-child(3) {
    border-color: rgb(31, 195, 195);
}

.top-right p:nth-child(4) {
    border-right: 1px solid var(--borders);
    border-left: 2px solid var(--borders);
    padding: 24px 20px;
    text-transform: uppercase;
}

.menu-icon {
    padding: 24px 20px;
}

.top-right p:first-child {
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.6rem;
    color: #000;
    letter-spacing: 2px;
    line-height: 1.6;
}

.top-right p:nth-child(4):hover,
.menu-icon:hover {
    border-bottom: 1px solid red;
}

/* nav */

li {
    list-style: none;
    margin: auto;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.5rem;
    color: black;
    padding: 10px 15px;
}

.nav {
    width: 100%;
    height: 40px;
}

.nav-ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1.5px solid var(--borders);
    padding: 1rem .5rem;
}

li a:hover {
    border-bottom: 2px solid red;   
}

/* section with first ad area */
.first-ad {
    position: relative;
    width: 80vw;
    height: 280px;
    margin: auto;
    background-image: url(../images/Tottenham-Hotspur-Spurs-2.jpg), var(--linear-color);
    background-repeat: no-repeat;
    background-size: 50% 100%, 100% 100%;
    background-position: right, left;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 1.5px;
    color: rgb(255, 243, 243);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 20px;
}

h2,
.first-ad .top-left + p {
    font-size: 2.5rem;
    font-family: "Newsreader", sarif;
    letter-spacing: 2px;
}

.first-ad .top-left + p {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.8;
}

.first-ad p span {
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255);
    color: red;
    border: 1px solid red;
    padding: 15px 20px;
    border-radius: 5px;
    bottom: 40px;
}

/* first breaking new headline */

.div-h3 {
    width: 80vw;
    height: 280px;
    margin: auto;
    margin-top: 100px;
    
}





