@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* h1 font-family */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script:wght@400&display=swap');

/* h3 */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Cutive&family=Petit+Formal+Script&display=swap');

/* General */

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    background-color: #fff;
    --first-color: rgb(255, 243, 243);
    --borders: rgb(214, 214, 214);
    --linear-color: linear-gradient(205deg,   rgb(42, 42, 42), rgb(54, 54, 54),  rgba(19, 56, 68, 0.678), black);
    --p1-hover: rgb(155, 46, 46);
    --p2-hover: rgb(96, 143, 139);
    --light-grey: rgb(251, 249, 249);
    --p1-color: rgb(253, 0, 0);
    --p2-color: rgb(72, 216, 216);
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 80%vw;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

/* Text sizing  */
h1,
h2 {
    font-size: 3em;
    font-family: 'Newsreader', serif;
    margin-left: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.div-h3 h3 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: bolder;
}

.div-h3 .p1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Courgette', cursive;
    opacity: 0.5;
}

.p2 span {
    font-size: 1.6rem;
    text-transform: capitalize;
}
.p2 strong {
    opacity: 0.85;
    color: red;
}

.main-div p {
    /* width: 50%; */
    /* margin: auto; */
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.6;
}

.flex1 p {
    width: 195px;
    height: auto;
    /* margin: auto; */
    /* line-height: 1.6; */
    font-family: cursive;
    font-weight: normal;
    font-size: 1.6rem;
    padding-left: 10px;
    letter-spacing: 1px;
}

.flex1 span{
    color: var(--p1-color);
}

.flex1 .jason {
    color: var(--p2-color);
}

/* .flex1 p a {
    text-align: center;
    padding: auto 20px;
} */

/* .social-media-icons + p {
    text-align: center;
} */

/* images */

.images2 {
    width: 70px;
    height: 65px;
    border-radius: 50%;
}

header .images2 {
    margin-left: 20px;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.reporters img {
    width: 180px;
    height: 176px;
    display: block;
}

.social-media-icons img {
    width: 40px;
    height: 40px;
}

.repoters img, 
.social-media-icons img {
    max-width: 100%;
    height: auto;
    display: block;
}



/* three bar menu icon */
.menu-icon div {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 3px 0px;
}

.kbryant3 {
    width: 800px;
    height: 150px;
    border-radius: 10px;
}
.kbryant3 {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* On :hover */
li a:hover {
    border-bottom: 2px solid red;   
}

.menu-icon:hover {
    cursor: pointer;
}
 
.header .p1:hover,
.header .p1 a:hover {
    border-color: var(--p1-hover);
    color: var(--p1-hover);
}


.header .p2:hover,
.header .p2 a:hover {
    border-color: var(--p2-hover);
    color: var(--p2-hover);
}

.flex1 a:hover {
    color: var(--p1-hover);
}

.first-ad p span:hover {
    color: var(--p1-hover);
    border-color: var(--p1-hover);
    font-weight: bolder;
}

.header-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--light-grey);
    z-index: 1;
}

/* nav */

li {
    list-style: none;
    margin: auto;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.5rem;
    color: black;
    padding: 10px 15px;
}

.nav {
    width: 100%;
    height: 40px;
    z-index: 1;
}

.nav-ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1.5px solid var(--borders);
    padding: 1rem .5rem;
}

/* section with first ad area */


h2,
.first-ad .top-left + p {
    font-size: 2.5rem;
    font-family: "Newsreader", sarif;
    letter-spacing: 2px;
}

.first-ad .top-left + p {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.8;
}

.first-ad p span {
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255);
    color: red;
    border: 1px solid red;
    padding: 15px 20px;
    border-radius: 5px;
    bottom: 40px;
}

/* first breaking new headline */

.div-h3 {
    width: 80vw;
    height: 280px;
    margin: auto;
    margin-top: 100px;
}

/* Beyond this line needs to be updated */

.div-para2 {
	position: relative;
	width: 80vw;
	/* height: 350px; */
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 30px;
    margin: auto;
    margin-top: 40px;
}
.div-p2 p {
	width: 100%;
	height: 100%;
	text-align: left;	
}

.yellow-jersy24 {
	display: block;
	width: 800px;
	height: 450px;
	margin: auto;
	border-width: 2px;
	border-color: transparent;
	border-radius: 20px;
}

.yellow-jersy24 {
	max-width: 100%;
	height: auto;
}

.last-para {
	position: relative;
	width: 80vw;
	height: 130px;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 30px;
    margin: 30px auto;
}

.stats {
	/*display: block;*/
	width: 700px;
	height: 450px;
	/*margin: auto;*/
	border-width: 2px;
	border-color: transparent;
	border-radius: 20px;
}

.stats {
	max-width: 100%;
	height: auto;
}

#stats { 
	position: relative;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	
}
#h2-stats {
	font-size: 18px;
	color: #000;
	left: 0px;
	text-transform: capitalize;
}

#div-ul1 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
#div-ul1 li {	
	line-height: 25px;
	list-style: square;
	list-style: inside;
	letter-spacing: 2px;
	font-size: 15px;
	border-width: 10px;
	border-style: solid;
	border-color: #eee;
	border-radius: 10px;
	padding: 3px;
	margin-right: 20px;
}
#div-ul1-l1 {
	position: relative;
	left: 10px;
}
#div-ul1-l2 {
	position: relative;
	right: 10px;
}
#div-ul1-l3 {
	position: relative;
	right: 40px;
}

footer {
	width: 100%;
	height: 60px;
	background-color: #fff;
	color: #000;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 5px;
	text-transform: capitalize;
	padding-top: 40px;
	text-align: center;
}




