
/* flex */

.main-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-top: 1px solid var(--borders);
    border-bottom: 1px solid var(--borders);
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.top-right {

    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 20px 20px;
}

.top-right p:nth-child(2),
.top-right p:nth-child(3) {
    border: 2px solid black;
    padding: 10px 8px;
    border-radius: 10px;
}

.top-right p:nth-child(2) {
    border-color: var(--p1-color)
}

.p1 a {
    color: var(--p1-color)
}

.p2 a {
    color: var(--p2-color);
}

.top-right p:nth-child(3) {
    border-color: var(--p2-color);
}

.top-right p:nth-child(4) {
    border-right: 1px solid var(--borders);
    border-left: 2px solid var(--borders);
    padding: 24px 20px;
    text-transform: uppercase;
}

.menu-icon {
    padding: 24px 20px;
}

.top-right p:first-child {
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.6rem;
    color: #000;
    letter-spacing: 2px;
    line-height: 1.6;
}

.top-right p:nth-child(4):hover,
.menu-icon:hover {
    border-bottom: 1px solid red;
}

.main-div {
    width: 85vw;
    display: flex;
    flex-direction: column;
    font-weight: 350;
    /* margin-top: -55px; */
    justify-content: space-around;
    align-items: center;
    margin: auto;
}



.social-media-icons {
    position: relative;
    display: flex;
}

.first-ad {
    position: relative;
    width: 80vw;
    height: 280px;
    margin: auto;
    margin-top: 122px;
    background-image: url(../images/Tottenham-Hotspur-Spurs-2.jpg), var(--linear-color);
    background-repeat: no-repeat;
    background-size: 50% 100%, 100% 100%;
    background-position: right, left;
    /* border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
    color: rgb(255, 243, 243);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 20px;
}

.reporters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80vw;
    height: 180px;
    margin: auto;
    margin-top: 30px;
    background-color: var(--light-grey);
    border-top: 2px solid var(--borders);
    border-bottom: 2px solid var(--borders);
    align-items: center;
    justify-items: end;
    
}
.flex1 {
    display: flex;
}

/* Footer  */

.flex2 {
    position: relative;
    /* background-color: #eee; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-size: 1.6rem;
    text-transform: capitalize;

}

.footer {
    margin-top: 100px;
    width: 100%;
	height: 260px;
	background-color: rgb(199, 199, 199);
    letter-spacing: 5px;
    /* padding-top: 40px; */
	color: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer ul:nth-child(2),
.footer ul:nth-child(3),
.footer ul:nth-child(4) {
    padding-top: 40px;
}


/* .footer span a {
    text-align: left;
    line-height: 1.6;
    
} */

/* .flex2 p span {
    position: absolute;
    top: 40px;
} */




